 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
body {
  background: darkgray;
}
/*Straw hats crew css*/
.card_wrapper {
	
	width: 100%;
	height: 100vh;
}

.head_text {
	font-weight: bold;
	font-size: 45px;
    margin-top: 100px
}

.head_para {
	margin-top: 15px;
    font-size: 20px;
}

.card_box {
	background: #ffffff;
	border-radius: 40px;
	margin-top: 40px;
	transition: .3s;
	margin-bottom: 40px;
  height: 50vh;
}
.card_box img{
    height: 270px;
}

.card_box:hover {
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
	transform: translateY(-10px);
}

.card_text {
	padding: 15px 20px 25px 20px;
}

.card_text h4 {
	font-size: 18px;
	font-family: bromega-Bold;
	color: #FA4A6F;
}

.card_text p {
	 font-size: 14px;
	 line-height: 150%;
	 margin-top: 10px;
	 color: #23273A;
}


.slider_carousel .owl-prev, .slider_carousel .owl-next {
	width: 40px;
	height: 40px;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: absolute;
	top: 50%;
}

.slider_carousel .owl-next {
    right: -50px;
}

.slider_carousel .owl-prev {
    left: -50px;
}

.custom-navbar-bg {
    background-color: #7a7575;
  }

.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 24px;
  line-height: 1.9;
  font-style: italic;
}
.carousel-inner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.navbar .getstarted {
  background: #106eea;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: .5rem 1rem;
  line-height: 2.3;
}

.navbar-nav a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color:white;
}
.navbar-nav .nav-item {
 margin-left: 100px;
 color: black
}

.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:pink;
}
.w-100 {
  height: 100vh;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}
.section-padding {
    padding: 100px 0;
  }
  .about-text p{
    font-size: 20px;
    text-align: justify;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
      bottom: 370px;
    }
    .carousel-caption p {
      width: 100%;
    }
    .card {
      margin-bottom: 30px;
    }
    .img-area img {
      width: 100%;
    }
    .about-text h1{
        font-size: 30px;
      padding-top: 50px;
    }
    .about-text p{
        font-size: 17px;
      padding-top: 15px;
    }
    .head_text {
        font-weight: bold;
        font-size: 30px;
        margin-top: 50px
    }
    .card_box{
      height: 50vh;
      width: 300px;
      margin-top: 10px;
  }
 
  .card_box img{
    height: 200px;
    
}
.card_text h4 {
	font-size: 15px;
	font-family: bromega-Bold;
	color: #FA4A6F;
}

.card_text p {
	 font-size: 11px;
	 line-height: 150%;
	 margin-top: 5px;
	 color: #23273A;
}

    .head_para {
        margin-top: 15px;
        font-size: 17px;
    }
    
    
  }
  @media only screen and (max-width: 767px) {

    .navbar-nav {
      text-align: center;
    }
    .carousel-caption {
      bottom: 125px;
    }
    .carousel-caption h5 {
      font-size: 17px;
    }
    .carousel-caption a {
      padding: 10px 15px;
      font-size: 15px;
    }
    .carousel-caption p {
      width: 100%;
      line-height: 1.6;
      font-size: 12px;
    }
    .about-text h1{
        font-size: 30px;
      padding-top: 50px;
    }
    .about-text p{
        font-size: 17px;
       
      padding-top: 15px;
    }
    .head_text {
        font-weight: bold;
        font-size: 30px;
        margin-top: 100px
    }
    
    .head_para {
        margin-top: 15px;
        font-size: 17px;
    }
 
  }
